@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {
    font-family: Poppins;
}

.center {
    position: absolute;
    top: 30vh;

    left: 0;
    right: 0;
    text-align: center;
}

.user {
    display: inline-block;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    text-align: center;
}

.middle {
    position: relative;
    top: 25px;
    font-weight: bold;
    font-size: x-large;
}

.waiting {
    background-color: #D9D9D9;
}

.accepted {
    background-color: #8BF858;
}

.title {
    display: inline;
    width: fit-content;
}

.time {
    background-color: #D9D9D9;
    border-radius: 50%;
    padding: 20px;

    display: inline;
    margin: 0;
    margin-right: 20px;
    float: right;
    font-size: xx-large;
}

.footer {
    margin: 10px 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: large;
}

.column {
    float: left;
    width: 25%;
}

.column:first-child {
    text-align: left;
}

.column:last-child {
    text-align: right;
}