@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-title {
    text-align: center;
}

.title {
    margin-top: 8px;
    padding: 40px;
}

.container {
    max-width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    font-weight: bold;
    font-size: large;
}

.inputName {
    padding: 0.5em;
    border-radius: 10px;
    border: 4px solid #c1071e;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 500px;
    transition: all 0.3s ease-in-out;
    height: 60px;
}

.inputName:focus {
    outline: none;
    border: 2px solid #c1071e;
    box-shadow: 0px 0px 4px #c1071e;
  }

.inputQuestionTime {
    padding: 0.5em;
    border-radius: 10px;
    border: 4px solid #c1071e;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: 60px;
}

.inputQuestionTime:focus {
    outline: none;
    border: 2px solid #c1071e;
    box-shadow: 0px 0px 4px #c1071e;
  }

.buttonControl {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px ;
}

.createGameButton {
    background-color: #c1071e;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 0.8em 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.createGameButton:hover {
    background-color: #c1071e;
  }