.fix {
    padding: 0;
}

.time {
    text-align: right;
    color: red;
}

.hidden {
    display: none;
    visibility: hidden;
}

.logo {
    width: 250px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  
  .logo img {
    height: 50px;
  }
  
  .timer-container {
    position: relative;
  }
  
  .timer {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins';
  }
  
  .timer span {
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
  }
  
  .timer .seconds {
    background-color: #c1071e;
    color: #fff;
  }

  .input-rounds {
    padding: 0.5em;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 400px;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
  }

  .button-rounds {
    background-color: #c1071e;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 0.8em 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .button-rounds:hover {
    background-color: #c1071e;
  }

  .view-rounds {
    text-align: center;
    margin-top: 50px;
  }

  .error {
    font-family: 'Poppins';
    color: #c1071e;
    font-weight: bold;
  }

  .dialog {
    font-family: 'Poppins';
    color: #c1071e;
    font-weight: bold;
  }

  .view-question {
    text-align: center;
  }

  .container-view {
    color: black;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10%;
  }

  .view-labels {
    font-family: 'Poppins';
    font-size: 25px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .view-inputs {
    padding: 0.5em;
    border-radius: 10px;
    border: 2px solid #c1071e;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 100%;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
  }

  .view-button {
    background-color: #c1071e;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 0.8em 1.5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
  }

  .view-p {
    font-family: "Poppins", sans-serif;
  }

  .invisible {
    display: none;
    visibility: hidden;
  }

  .userQualify {
    padding: 0.5em;
    border-radius: 10px;
    border: 4px solid #c1071e;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    width: 100%;
    transition: all 0.3s ease-in-out;
    height: 60px;
}

.view7-div {
  text-align: center;
  margin-top: 120px;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  color: #c1071e;
  font-weight: bold;
}


