@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap%27');

* {
    font-family: Poppins;
}

.center {
    position: fixed;
    top: 25%;
    left: 25%;
}

button {
    width: 50vw;
    height: 5vw;
    margin-bottom: 5vw;
    font-size: xx-large;
}